<nb-card class="row">
        <nb-card-body>
                <h3>Teste entrada e saida</h3>
                <input  type="text"
                        nbInput
                        placeholder="Insira o ID"
                        class="form-control"
                        [(ngModel)]="id">
                <button nbButton (click)="registrar('entrada',id)"
                style="cursor: pointer;margin: 1rem;">registrar entrada</button>
                <button nbButton (click)="registrar('saida',id)" style="
                cursor: pointer;margin: 1rem;">registrar saida</button>
                <span>{{msg}}</span>
        </nb-card-body>
    </nb-card>
    <nb-card class="row">
        <nb-card-body>
                <h3>Teste Relatorio</h3>
                <nb-list>
                    <nb-list-item *ngFor="let usuario of usuarios" style="display: flex;">
                        <nb-user style="width: 100%;"
                            [picture]="usuario.foto"
                            [name]="usuario.fullName"
                            [title]="usuario.role"
                            size="medium">
                        </nb-user>
                        <nb-list *ngIf="response.id===usuario._id">
                                <nb-list-item *ngFor="let registro of response.registros" style="display: flex;">
                                    <span>Hora entrada: {{registro.horaEntrada}}</span>
                                    <span>Hora saida: {{registro.horaSaida}}</span>
                                </nb-list-item>
                            </nb-list>
                        <button nbButton (click)="registrar('entrada',usuario._id)"
                            style="cursor: pointer;margin: 1rem;">registrar entrada</button>
                        <button nbButton (click)="registrar('saida',usuario._id)"
                            style="cursor: pointer;margin: 1rem;">registrar saida</button>
                        <button nbButton (click)="relatorio(usuario._id)"
                            style="cursor: pointer;margin: 1rem; float: right;">relatorio</button>
                    </nb-list-item>
                </nb-list>
                <span>{{msg}}</span>
        </nb-card-body>
    </nb-card>
    