<div class="row">
  <div>
      <h1 style="margin-top: 0;">Todos os Projetos</h1>
  </div>
</div>
<div>
    <h3 style="margin-top: 0;">Pesquisa</h3>
</div>
<div class="row">
  <div class="col-md-4" *ngFor="let projetoPesquisa of projetos.pesquisa">
    <nb-card size="small">
      <nb-card-header>
                  <div style="float: right;" >
                      <nb-user [picture]="projetoPesquisa.lider.foto?baseUrl+'fotosPerfil/'+projetoPesquisa.lider._id+'.'+projetoPesquisa.lider.foto+'.png':null" [name]="projetoPesquisa.lider.fullName" [title]="projetoPesquisa.lider.role" size="medium"></nb-user>
                    </div>

                <a routerLink="/pages/projetos/{{projetoPesquisa._id}}">
                  <h5>{{projetoPesquisa.titulo}}</h5>
                </a>

      </nb-card-header>
      <nb-card-body style="padding-top: 0;">
          
              <nb-tabset fullWidth >
                <nb-tab tabTitle="Descrição" >
                  <div class="descricao" 
                       [innerHTML]="projetoPesquisa.descricao" 
                       style="padding: 1.125rem;
                              text-indent: 5%;
                              text-align: justify;"></div>
                </nb-tab>
                <nb-tab tabTitle="Integrantes">
                    <nb-list>
                        <nb-list-item *ngFor="let integrante of projetoPesquisa.integrantes">
                          <div class="usuario" >
                              <nb-user [picture]="integrante.foto?baseUrl+'fotosPerfil/'+integrante._id+'.'+integrante.foto+'.png':null" [name]="integrante.fullName" [title]="integrante.role" size="medium"></nb-user>
                          </div>
                        </nb-list-item>
                      </nb-list>
                </nb-tab>
              </nb-tabset>
            

      </nb-card-body>
    </nb-card>
  </div>   
</div> 
<div>
    <h3 style="margin-top: 0;">Extensao</h3>
</div><div class="row">
  <div class="col-md-4" *ngFor="let projetoExtensao of projetos.extensao">
      <nb-card size="small">
        <nb-card-header>
                    <div style="float: right;" >
                        <nb-user [picture]="projetoExtensao.lider.foto?baseUrl+'fotosPerfil/'+projetoExtensao.lider._id+'.'+projetoExtensao.lider.foto+'.png':null" [name]="projetoExtensao.lider.fullName" [title]="projetoExtensao.lider.role" size="medium"></nb-user>
                      </div>
  
                  <a routerLink="/pages/projetos/{{projetoExtensao._id}}">
                    <h5>{{projetoExtensao.titulo}}</h5>
                  </a>
  
        </nb-card-header>
        <nb-card-body style="padding-top: 0;">
            
                <nb-tabset fullWidth >
                  <nb-tab tabTitle="Descrição" >
                    <div class="descricao" 
                         [innerHTML]="projetoExtensao.descricao" 
                         style="padding: 1.125rem;
                                text-indent: 5%;
                                text-align: justify;"></div>
                  </nb-tab>
                  <nb-tab tabTitle="Integrantes">
                      <nb-list>
                          <nb-list-item *ngFor="let integrante of projetoExtensao.integrantes">
                            <div class="usuario" >
                                <nb-user [picture]="integrante.foto?baseUrl+'fotosPerfil/'+integrante._id+'.'+integrante.foto+'.png':null" [name]="integrante.fullName" [title]="integrante.role" size="medium"></nb-user>
                            </div>
                          </nb-list-item>
                        </nb-list>
                  </nb-tab>
                </nb-tabset>
              
  
        </nb-card-body>
      </nb-card>
    </div></div>
    <nb-card *ngIf="noProjetos">
      <nb-card-body>
        <div class="text-center" role="alert">
          <strong>Não foi possivel localizar projetos</strong> Crie um
          <a href="/pages/projetos/criar-projeto" class="alert-link">projeto</a>
        </div>
      </nb-card-body>
    </nb-card>