<div class="row">
  <div>
    <h1 style="margin-top: 0;">
      Usuário</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header style="
          font-size: 1.5rem;
      ">
        <div style="float: right;" *nbIsGranted="['edit', 'user']">
          <button class="btn btn-outline-warning btn-icon" type="button" (click)="editarUsuario() ">
            <i class="nb-edit"></i></button>
        </div>
        {{user.fullName}}
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-xxl-4 col-lg-6">
            <div style="text-align: center;">
              <img [src]="croppedImage" #fotoImg width="250px" height="250px" style="margin: 1rem;
                                     border-radius: 50%; ">
            </div>
          </div>
          <div class="col-xxl-4 col-lg-6">
            <nb-card style="height:100%;">
              <nb-card-header>Informações</nb-card-header>
              <nb-card-body style="
              font-family: Exo;
              font-weight: 500;
          ">
                <div class="row">
                  <label for="inputEmail1" class="col-sm-6 col-form-label">Email</label>
                  <div class="col-sm-6 col-form-label">
                    {{user.email||'Não cadastrado'}}
                  </div>
                </div>
                <div class="row">
                  <label for="dataDeNascimento" class="col-sm-6 col-form-label">Data de Nascimento</label>
                  <div class="col-sm-6 col-form-label">
                    {{user.dataDeNascimento||'Não cadastrado'}}
                  </div>
                </div>
                <div class="row">
                  <label for="role" class="col-sm-6 col-form-label">Permissão</label>
                  <div class="col-sm-6 col-form-label">
                    {{user.role}}
                  </div>
                </div>
                <!--div class="row">
                  <label for="permissao" class="col-sm-6 col-form-label">Permissão Porta</label>
                  <div class="col-sm-6 col-form-label">
                    {{user.permisssao}}
                  </div>
                </div>-->
                <div class="row" *ngIf="user.role=='aluno'">
                  <label for="matricula" class="col-sm-6 col-form-label">Matrícula</label>
                  <div class="col-sm-6 col-form-label">
                    {{user.matricula||'Não cadastrado'}}
                  </div>
                </div>
                <div class="row" *ngIf="user.role=='professor'">
                  <label for="siape" class="col-sm-6 col-form-label">SIAPE</label>
                  <div class="col-sm-6 col-form-label">
                    {{user.siape||'Não cadastrado'}}
                  </div>
                </div>
                <div *nbIsGranted="['edit', 'user']">
                  <div class="row">
                    <label for="rfid" class="col-sm-6 col-form-label">RFID</label>
                    <div class="col-sm-6 col-form-label">
                      <span>{{user.rfid||'Não registrado'}}</span>
                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
          </div>
          <div class="col-xxl-4 col-lg-6">
            <nb-card style="height:100%;">
              <nb-card-header>Últimas sessões</nb-card-header>
              <nb-card-body>
                  <ul class="list-group" >
                    <div *ngFor="let item of registros" class="item-group">
                        <div *ngIf="item.horaEntrada&&item.horaSaida" >
                            <li class="saida"><span title="{{item.horaSaida|date:'medium'}}">{{item.horaSaida|date:'short'}}</span><i class="ion-log-out"></i></li><div class="total"><span class="totalText">{{item|tempoTotal}}</span></div>
                            <li class="entrada"><i class="ion-log-in"></i><span title="{{item.horaEntrada|date:'medium'}}">{{item.horaEntrada|date:'short'}}</span></li>
                            </div>
                        <div *ngIf="item.horaEntrada?!item.horaSaida:item.horaSaida">
                          <li *ngIf="item.horaSaida" class="saida"><i class="ion-log-out"></i><span title="{{item.horaSaida|date:'medium'}}">{{item.horaSaida|date:'short'}}</span></li>
                          <li *ngIf="item.horaEntrada" class="entrada"><i class="ion-log-in"></i><span title="{{item.horaEntrada|date:'medium'}}">{{item.horaEntrada|date:'short'}}</span></li>
                      </div>
                    </div>
                  </ul>
              </nb-card-body>
            </nb-card>
          </div>

        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>